<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="well">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <div class="row">
  	<div class="span2 offset2">
  		<div class="well well-small">
  			<%= image_tag @user.mugshot(:medium) %>
  		</div>	
  	</div>
  </div>
  <%= f.input :mugshot, label: "Profile Picture" %>
  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>
  <%= f.input :punchline, as: :text, input_html: { :maxlength => 200, rows: "3" }, :placeholder => '200 characters only', label: "My motto"  %>
  <%= f.input :userblog, :placeholder => 'http://www.myblog.com', label: "My Blog" %>
  <%= f.input :usercountry, label: "I am from" %>
  <%= f.input :heartcause, label: "Causes I fight for", :placeholder => 'eg. Poverty, Hunger, Sex Traficking...' %>
</div>
  <div class="form-actions">
    <%= f.submit "Update", class: "btn btn-primary"%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>