<div class="well">
	<%= simple_form_for(@missionary, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
 	<%= f.full_error :image_content_type, class: "alert alert-error" %>
 		<%= f.input :missname, input_html: { :maxlength => 30, rows: "1" }, :placeholder => "Missionary's real name", label: "Name" %>
  	<%= f.input :avatar, label: "Upload a photo" %>
  	<%= f.input :missbio, as: :text, input_html: { :maxlength => 200, rows: "3" }, :placeholder => '200 characters only', label: "Missionary Bio"  %>
  	<%= f.input :misscountry, label: "Mission Base" %>
  	<%= f.input :missfacebook, label: "Facebook Profile", hint: "Don't have a profile? Create one here", :placeholder => 'facebook.com/mission4cause' %>
		  <%= f.input :misstwitter, label: "Twitter", hint: "Don't have a Twitter? Create one here", :placeholder => '@mission4cause' %>
		  <%= f.input :missstory, as: :text, input_html: { :maxlength => 5000, rows: "5" }, label: "My Story", :placeholder => 'Why I started this and my journey...' %>
</div>

  	<div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  	</div>
<% end %>
