<div class="box">
<%= link_to (image_tag missionary.avatar(:medium)), missionary %>
<p class=missbio>
<%= missionary.missbio %>
</p>
    <p>
        <strong>
            Posted by <%= missionary.user.name %>
        </strong>
    </p>
  <% if current_user == missionary.user %>
  <p>
		<%= link_to 'Edit', edit_missionary_path(missionary) %>
		<%= link_to 'Delete', missionary, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
  <% end %>
</div>