<div class="box">
<%= image_tag missionary.avatar(:medium) %>
<p class=missbio>
<%= missionary.missbio %>
</p>
    <p>
        <strong>
            Posted by <%= missionary.user.name %>
        </strong>
    </p>
<%= link_to 'Show', missionary %>
  <% if current_user == missionary.user %>
  <p>
		<%= link_to 'Edit', edit_missionary_path(missionary) %>
		<%= link_to 'Destroy', missionary, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
  <% end %>
</div>