<div class="row">
    <div class="span6 offset0">
    	<p>
      	<div class="page-header">
  				<h1><%= @missionary.missname %><small> - <%= @missionary.misscountry %></small></h1>
				</div>
      </p>
        <div class="well">
        	<%= image_tag @missionary.avatar %>
					<p>
						<%= @missionary.missbio %>
					</p>
					<p>
					  <%= @missionary.user.name %>
					</p>
					<p>
					  Mission Base: <%= @missionary.misscountry %>
					</p>
					<p>
					  Facebook: <%= @missionary.missfacebook %>
					</p>
					<p>
					  Twitter: <%= @missionary.misstwitter %>
					</p>
					<p>
					  My Story: <%= @missionary.missstory %>
					</p>
					<% if current_user == @missionary.user %>			
						<%= link_to 'Edit', edit_missionary_path(@missionary) %> |
					<% end %>
					<%= link_to 'Back', missionaries_path %>
				</div>
    </div>
</div>