<div class="box">
	<%= link_to (image_tag cause.image(:medium)), cause %>
	<p class="description">
		<%= cause.description %>
		<strong>
			posted by <%= cause.user.name %>
		</strong>
	</p>
	<% if current_user == cause.user %>
		<p>
		<%= link_to 'Edit', edit_cause_path(cause) %>
		<%= link_to 'Delete', cause, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
		</p>
	<% end %>
</div>