<div class="row">
	<div class="span9">
		<div class="well">
		<p>
			<h2>
				<%= @cause.cause_name.upcase %> <small><%= @cause.cause_country %></small>
			</h2>
		</p>
		<p>
			<%= image_tag @cause.image %>
		</p>	
		<p>
			<%= raw @cause.cause_video %>
		</p>
		<p>
			<blockquote><%= @cause.description %></blockquote>
		</p>
		<dl class="dl-horizontal">		
			<dt>Key Focus:</dt>
			<dd><%= @cause.tag_list %></dd>
			
			<dt>Country:</dt>
  		<dd><%= @cause.cause_country %></dd>
  		
  		<dt>Email:</dt>
  		<dd><%= @cause.cause_email %></dd>
  		
  		<dt>Address:</dt>
  		<dd><%= @cause.causeaddress %></dd>

  		<dt>Phone</dt>
  		<dd>+<%= @cause.cause_phone %></dd>

  		<dt>Website</dt>
  		<dd><%= link_to @cause.cause_url, @cause.cause_url, :target => '_blank' %></dd>

  		<dt>Facebook</dt>
  		<dd><%= link_to @cause.cause_facebook_url, @cause.cause_facebook_url, :target => '_blank' %></dd>

  		<dt>Twitter ID</dt>
  		<dd><%= @cause.cause_twitter %></dd>
			</dl>
		<button class="btn"><i class="icon-chevron-left"></i>  <%= link_to 'Back', causes_path %></button>	
		<% if current_user == @cause.user %>
		<button class="btn"><i class="icon-pencil"></i>  <%= link_to 'Edit Cause', edit_cause_path(@cause) %></button> 
		<% end %>
	</div>
	</div>
		<div class="span3">
		<div class="well well-small">
			<h4>
				Added by <%= @cause.user.name %>
			</h4>
			<p>
				<%= image_tag @cause.user.mugshot%>
			</p>
			<p>
			<table class="table table-condensed">	
				<tr>
		  		<td>
		  			<strong><%= @cause.user.name %></strong>
		  		</td>
				</tr>
		  	<tr>
		  		<td>
		  			<strong>I am from:</strong> <%= @cause.user.usercountry %>
		  		</td>
				</tr>
		  	<tr>
		  		<td>
		  			<strong>My motto:</strong> <%= @cause.user.punchline %>
		  		</td>
				</tr>
		  	<tr>
		  		<td>
		  			<strong>I fight:</strong> <%= @cause.user.heartcause %>
		  		</td>
		  		<tr>
		  		<td>
		  			<strong>My blog: </strong> <%= link_to @cause.user.userblog, @cause.user.userblog, :target => '_blank' %>
		  		</td>
		  	</tr>
				</tr>
			</table>
		</p>
		<% if current_user == @cause.user %>
				<button class="btn btn-block"><i class="icon-user"></i>  <%= link_to 'Edit my profile', edit_user_registration_path %></button>
		<% end %>
	</div>
	<div class="well well-small">
		<script type="text/javascript" src="https://www.ribbon.co/ribbon-modal.js"></script><a href="http://rbn.co/281af0">Support this cause</a>
	</div>
	</div>
</div>