<div class="row">
	<div class="span9">
		<div class="well">
		<p><h2><%= @cause.cause_name.upcase %></h2></p>
		<p>
			<%= image_tag @cause.image %>
		</p>	
		<p>
			<%= raw @cause.cause_video %>
		</p>
		<p>
			<%= @cause.cause_name %> is active in <%= @cause.cause_country %>. They can be reached via email at <%= @cause.cause_email %> or on phone at
			+<%= @cause.cause_phone %> 
			Thier vision reads "<%= @cause.description %>". More information can be found on thier website <%= @cause.cause_url %>.
		</p>
		<p>
		  Vision: 
		</p>
		<p>
			Key Focus: <%= @cause.tag_list %>
		</p>
		<p>
		  Country: <%= @cause.cause_country %>
		</p>
		<p>
		  Address: <%= @cause.causeaddress %> | +<%= @cause.cause_phone %>
		</p>
		<p>
			Twitter: <%= @cause.cause_twitter %>
		</p>
		<p>
			Facebook: <%= @cause.cause_facebook_url %>
		</p>
		<p>
		  About: <%= @cause.long_description %>
		</p>
		<button class="btn"><i class="icon-chevron-left"></i>  <%= link_to 'Back', causes_path %></button>	
		<% if current_user == @cause.user %>
		<button class="btn"><i class="icon-pencil"></i>  <%= link_to 'Edit Cause', edit_cause_path(@cause) %></button> 
		<% end %>
	</div>
	</div>
		<div class="span3">
		<div class="well well-small">
			<h4>
				Added by <%= @cause.user.name %>
			</h4>
			<p>
				<%= image_tag @cause.user.mugshot%>
			</p>
			<p>
			<table class="table table-striped">	
				<tr>
		  		<td>
		  			<strong><%= @cause.user.name %></strong>
		  		</td>
				</tr>
		  	<tr>
		  		<td>
		  			<strong>I am from:</strong> <%= @cause.user.usercountry %>
		  		</td>
				</tr>
		  	<tr>
		  		<td>
		  			<strong>My motto:</strong> <%= @cause.user.punchline %>
		  		</td>
				</tr>
		  	<tr>
		  		<td>
		  			<strong>I fight:</strong> <%= @cause.user.heartcause %>
		  		</td>
				</tr>
			</table>
		</p>
		<% if current_user == @cause.user %>
				<button class="btn btn-block"><i class="icon-user"></i>  <%= link_to 'Edit my profile', edit_user_registration_path %></button>
		<% end %>
	</div>
	</div>
</div>