<div class="row">
	<div class="span8">
		<div class="well">
		<p>
			<%= image_tag @cause.image %>
		</p>
		<h4>
		<p>
			<%= @cause.cause_name %> is active in <%= @cause.cause_country %>. They can be reached via email at <%= @cause.cause_email %> or on phone at
			+<%= @cause.cause_phone %> 
			Thier vision reads "<%= @cause.description %>". More information can be found on thier website <%= @cause.cause_url %>.
		</p>
		<p>
		  Vision : 
		</p>
		<p>
		  Country : <%= @cause.cause_country %>
		</p>
		<p>
			Twitter : <%= @cause.cause_twitter %>
		</p>
		<p>
			Facebook : <%= @cause.cause_facebook_url %>
		</p>
		<p>
		  About : <%= @cause.long_description %>
		</p>		
		<p>
		  <small>added by <%= @cause.user.name %></small>
		</p>
		<% if current_user == @cause.user %>
		<%= link_to 'Edit', edit_cause_path(@cause) %> |
		<% end %>
		<%= link_to 'Back', causes_path %>
	</h4>
	</div>
	</div>
		<div class="span4">
		<div class="well well-small">
		<%= image_tag @cause.image %>
		<p>
		  Name : <%= @cause.cause_name %>
		</p>
		<p>
		  Vision : <%= @cause.description %>
		</p>
		<p>
		  Country : <%= @cause.cause_country %>
		</p>
		<p>
		  About Me : <%= @cause.long_description %>
		</p>
		<% if current_user == @cause.user %>
			<div class="btn-group">
				<button class="btn"><%= link_to 'Add a cause', new_cause_path %></button>
				<button class="btn"><%= link_to 'Edit my profile', edit_user_registration_path %></button>
	        	<button class="btn"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
        	</div>
		<% end %>
	</div>
	</div>
</div>