<% if user_signed_in? %>
	<div class="center hero-unit">
	    <h1>Mission Support!</h1>
	    <p>MissionForCause.com is the destination for mission support. Connect with church planting among unreached people groups. More than 2,500 missionaries serve around the world in remote places where there are no churches, or even work being done to establish one. Working in the context of tribal cultures and languages, missionaries bring God's Word to those isolated from the Gospel, planting churches where Christ is not yet named. </p>
	    <p>
	    	<%= link_to 'BROWSE CAUSES',  "#" , class: "btn btn-large btn-custom" %>
	    	<%= link_to 'HELP MISSIONARIES',  "#" , class: "btn btn-large btn-custom1" %>
	    	<%= link_to 'MISSION TRIPS',  "#" , class: "btn btn-large btn-custom3" %>
	    </p>
	</div>
	<% else %>
	<p><iframe src="https://www.facebook.com/video/embed?video_id=10152765705315644" width="100%" height="550px" frameborder="0"></iframe></p>
		<div class="center hero-unit">
		    <h1>Welcome to Mission For Cause!
		   </h1>
		    <p> <%= link_to 'SIGNUP TO HELP',  new_user_registration_path , class: "btn btn-large btn-danger" %>
		    	<%= link_to 'LOGIN NOW',  new_user_session_path , class: "btn btn-large btn-info" %>
		    </p>
		</div>
<% end %>