<% if user_signed_in? %>
	<div class="center hero-unit">
	    <h1>Causes across the globe need you!</h1>
	    <h4> Destination for Mission Support </h4>
	    <p>
	    	<%= link_to 'BROWSE CAUSES',  "#" , class: "btn btn-large btn-custom" %>
	    	<%= link_to 'HELP MISSIONARIES',  "#" , class: "btn btn-large btn-custom1" %>
	    	<%= link_to 'MISSION TRIPS',  "#" , class: "btn btn-large btn-custom3" %>
	    </p>
	</div>
	<% else %>
		<div class="center hero-unit">
		    <h1>Welcome to Mission For a Cause! </h1>
		    <h4> Destination for Mission Support </h4>
		    <p> <%= link_to 'SIGNUP TO HELP',  new_user_registration_path , class: "btn btn-large btn-danger" %>
		    	<%= link_to 'LOGIN NOW',  new_user_session_path , class: "btn btn-large btn-info" %>
		    </p>
		</div>
<% end %>