<% if user_signed_in? %>
	<div class="row">
		<div class="span6">
			<p><h1>MISSION FOR CAUSE</h1></p>
			<h4>MissionForCause.com is the destination for mission support. Connect with church planting among unreached people groups. More than 2,500 missionaries serve around the world in remote places where there are no churches, or even work being done to establish one.</h4>
		  <p>
		  <%= link_to 'Support Causes',  causes_path , class: "btn btn-large btn-danger btn-block" %>
		  </p>
		  <p>
		  <%= link_to 'Help Missionaries',  missionaries_path , class: "btn btn-large btn-action btn-block" %>
		  </p>
		  <p>
		  <%= link_to 'Go On a Mission Trip',  "#" , class: "btn btn-large btn-info btn-block" %>
		  </p>
	    </div>
	  	<div class="span6">
	  		<iframe src="http://player.vimeo.com/video/25301320?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="550" height="325" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	  	</div>
	</div>
<% else %>
	<div class="row">
		<div class="span6">
			<p><h1>Welcome to Mission for Cause</h1></p>
			<h4>MissionForCause.com is the destination for mission support. Connect with church planting among unreached people groups. More than 2,500 missionaries serve around the world in remote places where there are no churches, or even work being done to establish one.</h4>
		  <p>
		  <%= link_to 'SIGNUP TO HELP',  new_user_registration_path , class: "btn btn-large btn-info btn-block" %>
		  </p>
		  <p>
		  <%= link_to 'LOGIN NOW',  new_user_session_path , class: "btn btn-large btn-danger btn-block" %>
		  </p>
	    </div>
	  	<div class="span6">
	  		<iframe src="http://player.vimeo.com/video/25301320?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="550" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	  	</div>
	</div>
<% end %>